/*
    Стили для дополнительного контента (Текст, очередь)
*/

div[data-custom-controls="true"] div[data-test-id="FULLSCREEN_PLAYER_POSTER_CONTENT"] {
    display: none !important;
}

div[data-custom-controls="true"] div[data-test-id='FULLSCREEN_PLAYER_FULLSCREEN_CONTENT'] {
    transform: translate(calc(50dvw - var(--fullscreen-player-content-size-px)/2), calc(100dvh - var(--fullscreen-player-height-px)/2 + 16px));
    animation-name: none;
}

div[data-custom-controls="true"] div[class*="additionalContent"] {
    transform: translate(50%);
    height: calc(100% - (var(--fullscreen-player-content-size-px)/2) - 24px - 32px);
    top: 24px;
    border-radius: 16px;
    padding: 24px;

    transition: background-color var(--ym-duration-transition),
    backdrop-filter var(--ym-duration-transition);
}

div[data-custom-controls="true"] div[class*="additionalContent"] > div {
    mask-image: linear-gradient(
            to bottom,
            transparent 0%,
            black 25%,
            black 75%,
            transparent 100%
    );
}

div[data-custom-controls="true"] div[class*="additionalContent"] > div,
div[data-custom-controls="true"] div[class*="additionalContent"] .PlayQueue_content__zIUvd,
div[data-custom-controls="true"] div[class*="additionalContent"] div[data-test-id="PLAY_QUEUE_AFTER_PLAYING_BLOCK"]
{
    height: 100%;
    min-height: 100%;
    position: unset;
    margin-block: 0;
}

div[data-custom-controls="true"] div[class*="additionalContent"] div[data-test-id="SYNC_LYRICS_CONTENT"] {
    container-type: size;
}

div[data-custom-controls="true"] div[class*="additionalContent"] div[data-test-id="SYNC_LYRICS_CONTENT"] > div {
    padding-block-start: 50cqh;
}

div[data-custom-controls="true"] div[class*="additionalContent"][class*="enter_active"] {
    animation-name: FullscreenPlayerDesktopContent_enter-fade-additional-content_custom;
}

div[data-custom-controls="true"] div[class*="additionalContent"][class*="exit_active"] {
    animation-name: FullscreenPlayerDesktopContent_leave-fade-additional-content_custom;
}

@keyframes FullscreenPlayerDesktopContent_enter-fade-additional-content_custom {
    0% {
        transform: translate(0dvw);
        opacity: 0
    }

    50% {
        transform: translate(26dvw);
    }

    to {
        transform: translate(25dvw);
        opacity: 1
    }
}

@keyframes FullscreenPlayerDesktopContent_leave-fade-additional-content_custom {
    0% {
        transform: translate(25dvw);
        opacity: 1
    }

    40% {
        opacity: 0
    }

    to {
        transform: translate(0dvw);
        opacity: 0
    }
}

body:has(div[data-custom-controls="true"]) :has(> div[data-test-id="TRACK_CONTEXT_MENU"]){
    top: initial !important;
    left: 25vw !important;
    bottom: 10vh !important;
}