div[data-test-id='FULLSCREEN_PLAYER_MODAL']::before {
    background: var(--background);
}

div[data-test-id='FULLSCREEN_PLAYER_MODAL']::after {
    opacity: 0;
    background: var(--background-next);
}

div[data-test-id='FULLSCREEN_PLAYER_MODAL'].animate::after {
    opacity: 1;
}

div[data-test-id='FULLSCREEN_PLAYER_MODAL']::before,
div[data-test-id='FULLSCREEN_PLAYER_MODAL']::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    filter: blur(var(--blur, 0px)) brightness(calc(var(--brightness, 1) * var(--brightness-correction, 1)));

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition:
        opacity 0.5s ease-in-out,
        filter 0.5s ease-in-out;
}